body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

/* TEXTOS*/ 
@font-face {
    font-family: [nome];
    src: local([nome da fonte local]), url([caminho]);
}

@font-face {
    font-family: Helvetica;
    src: local(Helvetica),   url("https://db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  

h1 {
  color: #ffffff;
  text-transform: uppercase;
    font-family: Helvetica, Helvetica 25 Ultra light ,  sans-serif;
    font-size: 95px;
}

h2{
  color: #ffffff;
  margin: 0;
  font-size: 37px;
}

  /* Div inicio*/
 
 .inicio{
  margin: 0;
  width: 100%;
  background-image: url(images/index-image.jpg);
  background-color: #fff;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:bottom;
  height: 750px;
 }

 .inicio-div {
  text-transform: uppercase;
  margin: auto;
  height: auto;
  align-items: center!important;
  justify-content: left;
  max-width: 800px; 

 }
.inicio-texto {
  margin-top: 130px;
}

.inicio-texto p,h1{
  margin: 0;
}

  /* Footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(images/rodape-desktop.jpg);
  background-size: cover;
  background-position: center;
  height: 35vh;
  color: #fff;
  margin: auto;
}
.footer-text{
  margin: auto;
}

